
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.map-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 100px 100px 100px;
}

    

